.logo{
  width: 300px;
  height: 50px;
 border-radius: 10px;
 border: 1px solid #000000c8;
 box-shadow: 4px 2px 10px rgb(81, 80, 80) ;
}
.nav-background{
  background-color: rgba(103, 103, 103, 0.71);
  position: fixed;
  padding: 5px;
  top:0px;
  z-index: 2;
}

.sriracha-regular {
  
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
  color: rgb(23, 23, 23) !important;
}
.sriracha-regular:hover{
  color: rgb(235, 232, 228) !important;

}

.home{
  margin-left: 20px;
  
}
.search-btn{ font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
  background-color:rgb(211, 155, 64);
  color: rgb(21, 19, 19);
  border-color: azure;
  border-width: 2px;
}
.search{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
  border: 1px  solid rgb(134, 132, 132);
  box-shadow: 2px 2px 4px rgb(135, 135, 133);
}  
.nav-item{
  padding: 2px;
}
.search-btn:hover{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color:rgb(131, 131, 130);
  color: rgba(15, 13, 13, 0.781);
  border-color: azure;
  border-width: 2px;
}
.img{
  object-fit: cover;
  height:100%;
  width: 100%;
 position: fixed;
 opacity: 0.8;
 top: 0px;
 z-index: -1;
}
.heading{
 box-shadow: 7px 7px 6px rgb(39, 37, 37);
  font-family: "Rubik", sans-serif;
  color: rgb(250, 246, 246);
  padding: 4px;
  font-weight: bold;
  text-align: center;
  background-color: #373333;
}
.rubik {
  
 

  font-style: normal;
}
.card{
  border: 0px solid beige;

  
}

.card3{

 height: 250px;
  border-radius: 5px;
}

.card-title{

  color: brown;
}
.card-text{
  color: rgb(70, 70, 75);
}
.services{
  background-color: rgba(34, 34, 34, 0);

}
.card-design{
  width: 400px;
  padding: 20px;
  margin: 5px;
}
.card-design1{

  background-color: rgba(224, 221, 217, 0.571);
  justify-content: center;

}
.img-slide{
  height: 560px;
}
.video{
  height: 200px;
}
.mission{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(64, 73, 74);
  font-weight: bold;
}
.mission:hover{
  color: rgb(174, 114, 24);
}
.heading:hover{
  color: rgb(194, 90, 15);
}
p{
  color: rgb(52, 49, 49);
}
.about{
 background-color:rgb(241, 244, 248);
 border-radius: 24px;
}
.about-logo{
  width: 300px;
  height: 250px;
  margin-left: 5px;
}
p{
  padding: 5px;
}
.about-full{
  background-color: rgba(224, 221, 217, 0.571);
}
.featuer{
  height: 300px;
  width: 350px;
  border-radius: 2px;
}
.happy{
  height: 200px;
}
.contact{
  margin: 3px;
  list-style: none;
  padding: 30px;
}
.list-Contact{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: medium;
  color: rgb(30, 30, 30);
 
}
hr{
  color: rgb(47, 54, 54);
  
}
.list-Contact:hover{
  color: rgb(216, 151, 31);
}
.Linked{
  color: blue;
  font-size: x-large;
  
}
.faceBook{
  font-size: x-large;
  color: rgb(37, 198, 227);
}
.twitter{
  font-size: x-large;
  color: rgb(23, 131, 131);
}
.inta{
  font-size: x-large;
  color: purple;
}
.phone{
  font-size: x-large;
  color: rgb(69, 80, 90);
}
.email{
  font-size: x-large;
  color: azure;
}
.contact-img{
  width: 80px;
  height: 80px;
  border-radius: 400px;
}